
@import './variable.css';
@import './navbar.css';


/* ====================================== */
/* css reset */
* , *::after , *::before{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ====================================== */


.guest_layout { 
 background: rgb(255,255,255);
 background: linear-gradient(90deg, rgba(255,255,255,1) 16%, rgba(23,184,20,0.989233193277311) 81%);
}

card { 
 box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
 -webkit-box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
 border: 1px;
 background-color: white;
}